<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta name="author" content="Yuehua Xu">
    <link rel="icon" href="images/icon.png">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  </head>

  <body>
    <div class="container">
      <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Please log in</h2>
        <div class="text-center">
          <input type="text" class="form-control" name="name" placeholder="User Name">
        </div>
        <div class="text-center" style="position:relative;margin-top:20px;">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        </div>
      </form>
    </div>
  </body>
</html>